<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="container text-light text-center">
    <img src="/assets/img/mongo-technica.svg" id="mt-logo" class="img-fluid" alt="mongo-technica">
    <h1 class="display-4">mongo-technica</h1>
    <p class="small">MTH-MS1</p>
    <p class="lead">Scrape articles from Ars Technica and comment on them.</p>
    <div class="btn-group" aria-label="action-buttons">
      <button type="button" class="btn btn-info btn-sm active" id="scrape"> Scrape New Articles</button>
      <button type="button" class="btn btn-secondary btn-sm" id="all-articles"> All Articles</button>
      <button type="button" class="btn btn-secondary btn-sm" id="commented-articles"> Articles with Comments</button>
    </div>
  </div>
</div>

<div class="container-fluid">
  {{#each Articles}}
  <!-- Article card -->
  <div class="card">
    <div class="card-header bg-secondary">
      <a href="{{link}}" class="text-light">
        <h5>{{title}}</h5>
      </a>
    </div>
    <div class="card-body bg-light">
      <p class="card-text">{{summary}}</p>
      <hr>
      <p class="card-text article-date text-muted">{{moment postDate "DD MMMM YYYY, h:mma"}}</p>
      <button type="button" class="btn btn-warning article-button" data-id="{{_id}}">View Comments ({{notes.length}})</button>
    </div>
  </div>
  {{/each}}
</div>